.principal {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.principal img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
