.servicios {
  padding: 50px 0;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card__item {
  flex: 1 1 30%; 
  max-width: 350px; 
  background-color: var(--Black-color);
  color: var(--second-color);
  align-items: center;
  text-align: center;
  border-radius: 30px;
  padding: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  margin: 20px 0;

}

.card__item:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
}

.card__item--activo {
  background-color: var(--main-color);
}

.card__plan {
  color: var(--second-color);
  margin-bottom: 20px;
}

.card__precio {
  font-size: 3rem;
  color: var(--second-color);
  margin-bottom: 20px;
}

.card__caracteristica {
  color: var(--second-color);
  margin-bottom: 25px;
}


@media (max-width: 768px) {
  .card__item {
    flex: 1 1 100%; 
    max-width: 100%; 
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .card__item {
    padding: 20px;
  }

  .card__plan {
    font-size: 1.5rem; 
  }

  .card__precio {
    font-size: 2rem; 
  }
}
